.modify-wrapper {
    width: 90%;
    margin: 10px auto;
}

.modify-title > h1 {
    border-bottom: 2px solid #ccc;
}

.modify-info-wrapper {
    display: flex;
    flex-direction: column;

    text-align: left;

    width: 100%;
    height: auto;
}

.modify-table {
    font-size: large;

    border-top: 2px solid black;
    border-bottom: 2px solid black;

    border-collapse: collapse;
}

.modify-table-th {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    height: 60px;

    padding-left: 20px;
}

.modify-table-td {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    height: 60px;
}

.modify-info-btn-section {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 400px;

    margin: 1% 0;
}

.modify-info-button {
    border: none;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.48);

    color: white;
    font-size: larger;
    font-weight: bold;
    width: 15%;
    height: 60px;
}

.modify-info-button:hover {
    background-color: black;
    cursor: pointer;
}