body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.info {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

#seat-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.seat-container {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-gap: 5px;
}

.seat {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
}

.seat.available {
  background-color: #c68fe6;
}

.seat.unavailable {
  background-color: gray;
  pointer-events: none;
}

.seat.selected {
  background-color: #6c48c5;
}
