* {
    padding: 0;
    margin: 0 auto;
}

.wrap {
    margin: 0 auto;
    width: 100%;
}

.location_wrap {
    width: 1400px;
}

.location_text {
    text-align: left;
    font-size: 15px;
}

.location_title {
    color: #62676c;
    font-size: 15px;
    margin-right: 10px;
}

.location_header {
    width: 100%;
    padding-bottom: 12px;
    margin-bottom: 32px;
    border-bottom: 1px solid #242428;
    display: flex;
}

.location_header_title {
    font-size: 26px;
    font-weight: 500;
    line-height: 34px;
    margin-left: 0px;
}

.location_map_box {
    background-color: antiquewhite;
    width: 100%;
    height: 648px;
    margin-top: 18px;
}

#map {
    background-color: antiquewhite;
    width: 100%;
    height: 648px;
    margin-top: 18px;
}

.location_search_btn {
    background-color: #004d7c;
    margin-top: 16px;
    padding: 11px 15px;
    font-size: 15px;
    color: #ffffff;
    border-radius: 8px;
    letter-spacing: 1px;
}

.location_search_btn:hover {
    background-color: #397194;
}