spring:
  application:
    name: ticatch		
  thymeleaf:
    cache: false
  datasource:
    url: jdbc:oracle:thin:@localhost:1521:SYSTEMX
    driver-class-name: oracle.jdbc.OracleDriver	
    username: C##danaojo
    password: danaojo
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format-sql: true
        show-sql: true
    database-platform: org.hibernate.dialect.OracleDialect

server:
  port: 9090
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true	

logging:
  level: 
    org:
      hibernate:
        SQL: debug
        type: trace	
