/* Global container */
.mypage_container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
  background-color: #f4f4f9;
}

.mypage_header {
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}

.mypage_header h2 {
  font-size: 2.8rem;
  color: #333;
  background-color: gray;
}

.mypage_main {
  flex: 1; /* This makes the main content area take up the available space */
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 20px;
}

.mypage_info {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 550px;
}

.mypage_info h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.mypage_info p {
  font-size: 1.1rem;
  color: #555;
}

.mypage_sections {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding-bottom: 10px;
}

.mypage_watched,
.mypage_info {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.mypage_watched h3,
.mypage_info h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
}

.mypage_watched ul,
.mypage_info ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.1rem;
  color: #555;
}

.mypage_watched li,
.mypage_info li {
  margin-bottom: 8px;
}

.input {
  width: 70%;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 13px;
}

.button {
  margin-top: 20px; /* Add space above the button */
  padding: 10px 20px;
  background-color: #004d7c;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: #4852ed;
}

.mypage_footer {
  text-align: center;
  padding: 15px;
  background-color: #222;
  margin-top: auto; /* Pushes the footer to the bottom */
  color: white;
  width: 100%;
}
