ul {
  list-style: none;
  max-width: 310px; /* 텍스트 영역의 최대 너비 설정 */
  white-space: normal; /* 텍스트 줄바꿈 허용 */
  overflow: hidden; /* 넘친 텍스트는 숨김 */
  text-overflow: ellipsis; /* 넘친 텍스트는 "..."로 표시 */
  padding: 0;
  font-weight: bold;
}

.reserve-button {
  font-size: 16px;
  background-color: #004d7c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.reserve-button:hover {
  background-color: #4852ed;
}
