.title {
  font-weight: bold;
  padding-bottom: 15px;
}

.reserve_button {
  font-size: 16px;
  background-color: #004d7c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.1s;
  padding: 10px;
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

.reserve_button:hover {
  background-color: #4852ed;
}

.time_selector {
  padding-top: 10px;
  font-weight: bold;
  display: flex;
  align-items: center; /* 버튼과 텍스트를 수직으로 정렬 */
  justify-content: center;
}

.time_selector button {
  font-size: 20px;
}

.time_selector button:hover:not(:disabled) {
  cursor: pointer;
  color: #003366;
}

.padding {
  padding-top: 10px;
}

.padding_top {
  padding-top: 10px;
}
