/* Header Styling */
.booking_header {
  position: sticky; /* Keep header at the top when scrolling */
  top: 0; /* Stick to the top of the page */
  z-index: 1000; /* Ensure it stays above other elements */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  width: 97%;
}

.search_bar {
  flex-grow: 1;
  margin: 0 20px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.atag {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
  margin: 0 10px;
  all: unset; /* 모든 스타일 초기화 */
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 색상 상속 */
}

.user_links a:hover {
  text-decoration: underline;
}

/* Navigation Menu */
.navigation_menu {
  position: sticky; /* Keep navigation at the top when scrolling */
  top: 80px; /* Adjust according to header height */
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  gap: 20px;
}

.navigation_menu span {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.navigation_menu span:hover,
.navigation_menu .active {
  color: #007bff;
}

/* 랭킹 이미지 숫자 나오는거 */

.rank {
  position: absolute;
  bottom: 0; /* Align at the bottom of the image */
  left: 15px; /* Align at the left edge */
  font-size: 5rem; /* Adjust font size for visibility */
  font-weight: bold;
  color: white; /* White text for better contrast */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); /* Add shadow for better contrast */
}

.image_container {
  position: relative;
}

/* Main Content */
.main_content {
  display: flex;
  flex-direction: column;
  margin-top: 430px;
  gap: 20px;
}

.main_content.no-slider {
  margin-top: 50px; /* Reduced margin when slider is not visible */
  padding-top: 0px;
}

.main_content.no-padding {
  padding-top: 50px; /* 기존 패딩 값 설정 */
}

/* Auto Slider */
.auto_slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 5px;
}

.slider_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Concert List */
.concert_container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.concert_slider {
  display: flex;
  gap: 20px;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}

.concert_card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 15px;
  text-align: center;
}

.concert_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/* Footer */
.booking_footer {
  text-align: center;
  padding: 15px;
  background-color: #222;
  margin-top: auto; /* Pushes the footer to the bottom */
  color: white;
}
